	body {
  margin: 0;
  padding: 0;
  
}
.nav2_1{
  background-color: white;
}

#contact {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 127, 39, 0.9);
  overflow: hidden;
  padding-bottom: 100px;
  margin-top: 20px !important;
}

.section-header {
  text-align: center;
  margin: 0 auto !important;
  padding-top: 50px;
  margin-bottom: 50px;
  font: 300 30px 'Oswald', sans-serif;
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 25px;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px !important;
  position: relative;
  max-width: 800px;
}

/* Begin Left Contact Page */
.form-horizontal {
  font-family: 'Lato';
  font-weight: 400;
}
.col-sm-12{
	padding: 0!important;
}
.col-md-6{
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.form-control, textarea {
  max-width: 400px;
  background-color: white;
  color: black;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px !important;
  height: 34px;
  width: 100%;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.button {
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px !important;
  font: 300 14px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  max-width: 340px;
  margin: auto;
}

@media only screen and (max-width: 768px){
  .contact-list{
      margin-top:50px !important;
  }
  .send-button{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%
  }
}

.list-item {
  line-height: 4;
  color: white;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: white;
}

.place {
  margin-left: 10px;
}

.phone {
  margin-left: 8px;
}

.gmail {
  margin-left: 9px;
}

.contact-text a {
  color: white;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  width: 100%;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  top: 0;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 10px auto;
  line-height: 70px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #111;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.8); ;
}
  .form-control, textarea {
    max-width: 340px;
    margin: 0 auto !important;
  }
  
  .name, .email, textarea {
    width: 280px;
  }   
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
    padding-right: 10px;
    padding-left: 10px;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
@media only screen and (min-width: 768px){
 #contact{
  height: 100vh;
 }
}
  